SESSION_SECRET="example_session_secret_min_32_characters"
PUBLIC_STOREFRONT_API_TOKEN="your_public_storefront_api_token"
PUBLIC_STORE_DOMAIN="p1d3wg-6i.myshopify.com"
PUBLIC_CHECKOUT_DOMAIN="checkout.beautyinu.co"
PRIVATE_STOREFRONT_API_TOKEN="your_private_storefront_api_token"

# Customer Account (New Customer Accounts)
PUBLIC_CUSTOMER_ACCOUNT_DOMAIN="account.beautyinu.co"
PUBLIC_CUSTOMER_ACCOUNT_API_URL="https://account.beautyinu.co"
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID="your_customer_account_api_client_id"
